@import url('../../css/colors.css');

.master-page {
    display: flex;
    background: var(--background-color);
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .content-area {
    /* padding: 20px; */
    background-color: var(--background-color);
    height: 100%;
    /* height: calc(100vh - 60px); Adjust based on header height */
  }
  