@import url('../../css/colors.css');

.storyPreviewPage {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 40px auto;
    
    position: relative;
}

.coverImage {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    
}

.coverImage img {
    width: 500px; /* Set width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners */
    
    object-fit: cover; /* Cover the area of the container */
    margin-bottom: 10px;
}

.storyTitle {
    font-size: 2em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.storySynopsis {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--primary-text-color);
    text-align: justify;
}

.tags, .genres {
    margin-bottom: 20px;
}

.storyPreviewPage ul {
    list-style-type: none;
    padding-left: 0;
}

.storyPreviewPage li {
    display: inline-block;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    padding: 5px 10px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.storyPreviewPage li:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

.storyInfo {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.icon {
    color: var(--primary-text-color);
    margin-right: 5px;
    font-size: 1.5em;
}

.errorMessage, .loadingMessage {
    font-size: 1.5em;
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 50px;
}
