/* General Styles */

.spark-container {
  width: 600px; /* Slightly wider for bigger sparks */
  border-radius: 10px;
  padding: 15px;
  background-color: var(--secondary-bg-color); /* Main background color */
  color: #f0f8ff; /* Text color AliceBlue */
}

/* Header section */
.spark-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
}

/* Profile Picture */
.profile-pic {
  width: 30px;
  height: 30px;
  background-color: #ceff6c;
  border-radius: 50%;
}
.profile-pic img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Spark Title */
.spark-title {
  flex-grow: 1;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: #f0f8ff;
}

/* Options Icon (3 dots) */
.options-icon {
  font-size: 20px;
  color: #f0f8ff;
  cursor: pointer;
}

/* Horizontal Divider */
.divider {
  border: 0;
  height: 0.1px;
  background-color: var(--border-color);
  margin: 10px 0;
}

/* Content Section (Image + Text) */
.spark-content-container {
  display: flex;
  align-items: flex-start;
}

/* Image on the Left */
.spark-image {
  flex-shrink: 0; /* Prevent image from shrinking */
  margin-right: 20px; /* Add spacing between image and text */
}
.spark-image img {
  margin-top: 1rem;
  width: 200px; /* Set desired image width */
  height: 130px; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: round the corners */
  object-fit: cover; /* Ensure image fills the space properly */
}

/* Each spark card (scrollable content inside) */
.spark-card {
  background-color: var(--background-color); /* Dark grayish-blue */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #1c1e2f;
  flex-grow: 1; /* Make the text content take up remaining space */
}

/* Scrollable content inside each spark */
.spark-content {
  max-height: 130px;
  overflow-y: auto;
  font-size: 1em;
  line-height: 1.6em;
  color: #f0f8ff;
  padding-right: 10px;
  text-align: justify;
}

/* Footer Section (icons) */
.spark-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Footer Icons (like, comment, bookmark) */
.spark-container .footer-icon {
  font-size: 24px;
  cursor: pointer;
  color: #0088ff;
}
.footer-icon path{
  color: #ff6969;
}
.footer-icon path:hover{
  color: #529a00;
}

.footer-icon:hover {
  color: #ff6969;
  opacity: 0.8;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-count {
  margin-left: 5px;
  color: #f0f8ff;
  font-size: 1em;
}
