@import url('../../css/colors.css');
/* General Styles */


/* Container for the entire spark */
.spark-container {
  width: 600px; /* Slightly wider for bigger sparks */
  /* border: 1px solid #2d3748; Dark border */
  border-radius: 10px;
  padding: 15px;
  background-color: var(--secondary-bg-color); /* Main background color */
  color: #f0f8ff; /* Text color AliceBlue */
}

/* Header section */
.spark-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
}

/* Profile Picture */
.profile-pic {
  width: 40px;
  height: 40px;
  background-color: #2d3748; /* Profile picture placeholder */
  border-radius: 50%;
}
.profile-pic img {
  width: 40px;
  height: 30px;
  background-color: #2d3748; /* Profile picture placeholder */
  border-radius: 50%;
}

/* Spark Title */
.spark-title {
  flex-grow: 1;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: #f0f8ff;
}

/* Number beside title */
.number {
  margin-right: 5px; /* Spacing between the number and title */
  color: #f0f8ff; /* Color for the number */
  font-weight: bold; /* Make it bold */
}

/* Options Icon (3 dots) */
.options-icon {
  font-size: 20px;
  color: #f0f8ff;
  cursor: pointer;
}

/* Horizontal Divider */
.divider {
  border: 0;
  height: 0.1px;
  background-color: var(--border-color);
  margin: 10px 0;
}

/* Each spark card (scrollable content inside) */
.spark-card {
  background-color: var(--background-color); /* Dark grayish-blue */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border: 1px solid #1c1e2f;
  max-height: 150px; /* Fixed height for each spark */
}

/* Scrollable content inside each spark */
.spark-content {
  max-height: 130px; /* Limit inner content height */
  overflow-y: auto; /* Scroll if content is too long */
  font-size: 1em;
  line-height: 1.6em;
  color: #f0f8ff;
  padding-right: 10px; /* Extra padding to avoid text-cutoff near scrollbar */
}

/* Footer Section (icons) */
.spark-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Footer Icons (like, comment, bookmark) */
.footer-icon {
  font-size: 24px;
  cursor: pointer;
  color: #f0f8ff;
}

.footer-icon:hover {
  color: #ff6969;
  opacity: 0.8; /* Slight hover effect */
}

.footer-item {
  display: flex;
  align-items: center; /* Center align the icon and count */
}

.footer-count {
  margin-left: 5px; /* Add space between the icon and the count */
  color: #f0f8ff; /* Match text color with the existing design */
  font-size: 1em; /* Adjust font size as needed */
}
